* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Fredoka', sans-serif;
}

/* ========================= */
/* ========== Navber =========== */
/* ========================= */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.nav-items {
    display: flex;
    list-style-type: none;
}

.nav-item {
    font-size: 1.5rem;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    margin: 0rem 2rem;
    cursor: pointer;
    color: #444;
}

.active-item {
    color: #DE4839;
    font-weight: 900;
}

nav img:nth-of-type(1){
    margin-left: 2rem;
}

@media screen and (max-width: 1152px) {
    nav {
        padding: 2rem 0rem;
        flex-direction: column;
    }

    .nav-items {
        margin: 2rem 0rem;
    }
}

@media screen and (max-width: 546px) {
    .nav-item {
        font-size: 1rem;
    }
}

@media screen and (max-width: 743px) {
    .left-section {
        /* width: 0 !important;
        margin-top: 4rem !important; */
    }
}


/* ===================================== */
/* ============ Hero ==================== */
/* ============ Left section ============ */

.intro-section{
    padding: 0rem 4rem;
}

.left-section {
    width: 56vw;
    margin-top: 4rem;
}

h3{
    font-size: 3.4rem;
    font-weight: 300;
    margin-left: 2rem;
}

.left-section h1:nth-of-type(1) {
    font-size: 6rem;
    font-weight: 500;
    margin-left: 2rem;
    font-family: 'Fredoka One';
}

h3 > img {

}

.sub-headlines > h5 > img {
    background: #FF6347;
    border-radius: 50%;
    width: 2.5rem;
    padding: 0.5rem;
}

.sub-headlines > h5 > p {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 200;
    font-family: 'Poppins';
}

.sub-headlines {
    margin: 2rem 10rem;
}

.sub-headline {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.text {
    font-size: 1.2rem;
    color: #999;
    width: 44vw;
    margin-left: 3rem;
    font-family: 'Poppins';
}

.action-btn {
    all: unset;
    background: tomato;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 37px;
    cursor: pointer;
    margin: 3rem 1rem;
}



/* ============ Right section ============ */

.right-section {

}

.headphone-div {
    position: absolute;
    top: 6rem;
    right: 1rem;
    width: 38vw;
}

.headphone {
    position: relative;
    z-index: -999;
    bottom: 15rem;
    right: -4.5rem;
}

.discount {position: relative;top: 26rem;right: -1rem;z-index: 999;}

.dots {
    display: flex;
    align-items: center;
    position: absolute;
    right: 16rem;
    bottom: 8rem;
}

.dot {
    height: 2rem;
    width: 2rem;
    background: #000;
    border-radius: 50%;
    margin: 0rem 1.2rem;
}

.yellow-dot {
    background-color: #ffff00;
}

.tomato-dot {
    background-color: #ff6347;
}

.action-btn {
}

.right-section > .action-btn {
    all: unset;
    background: tomato;
    color: #fff;
    font-size: 2.2rem;
    padding: 1rem 2rem;
    border-radius: 37px;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 14rem;

}

.discount-content {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    bottom: 9rem;
    left: 3rem;
    position: relative;
    top: 17rem;
    z-index: 999;
}

.discount-content > h4 {
    font-family: 'Fredoka One';
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    left: 1rem;
}

.discount-content > h1 {
    font-family: 'Fredoka One';
    font-weight: 300;
    font-size: 4rem;
}

@media screen and (max-width: 1075px) {
    .right-section {
        display: none;
    }

    .intro-section {
        padding: 0rem 1rem;
    }

    .left-section {
        width: inherit;
        margin-top: 3rem;
    }

    .text{
        width: initial;
        margin-left: 0rem;
        
    }

    .action-btns{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width:633px) {
    .sub-headlines > h5 > p {
        margin-left: 1rem;
        font-size: 1.2rem;
    }
    .sub-headlines {
        margin: 2rem 2rem;
    }
    .left-section h1:nth-of-type(1) {
        font-size: 3.6rem;
        text-align: center;
        margin-left: 0rem;
    }
    h3 {
        font-size: 2rem;
        text-align: center;
    }
    .action-btn{
        font-size: 1rem;
    }
}